{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container-fluid w-75 w-md-50  mt-5 text-center'>
  <img src='{% static 'assets/check.png' %}' class='ed-thanks__icon'>
  <h1 class='h2 ed-color__primary'>Thank you for your submission!</h1>
  <p class='my-4'>
    Thanks for your submission. <b>{{ name }}</b> has been added to our list of known submissions. Their email is <b>{{ email }}</b> Press the button below to navigate back to the index.
  </p>
  <h1 class='h5 ed-color__primary my-4'>We are reviewing your application and will reach out to your shortly.</h1>
  <button class='ed-button ed-button__primary' onclick='window.location.href = "/index"'>Return To Index</button>
</div>
{% endblock %}
